.cellTableHeader {
	padding: 0px;
	color: #2b1730;
	text-align: center;
	font-size: 13px;
	padding: 6px;
	vertical-align: middle;
	font-weight: bold;
	text-shadow: 0 1px 1px rgba(255,255,255,.7);
}

.cellTableFirstColumnHeader {
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

.cellTableLastColumnHeader {
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
}

.cellTableCell {
	padding: 4px;
	overflow: hidden;
	font-size: 12px;
	color: #201435;
}

.cellTableEvenRow {
	background: #ffffff;
}

.cellTableOddRow {
	background: #ECECEC;
}

.cellTableSelectedRow {
	background: #628cd5;
}

.cellTableSelectedRowCell {
	border: none;
}

.cellTableHoveredRow {
	background: transparent;
}

.cellTableHoveredRowCell {
	border: none;
}

.cellTableKeyboardSelectedRow {
	background: #ffc;
}

.cellTableKeyboardSelectedRowCell {
	border: none;
}

.cellTableKeyboardSelectedCell {
	border: none;
}